parameters:
    level: 6
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
    checkGenericClassInNonGenericObjectType: false

    ignoreErrors:
        - '#Method .*::initFormProcessData\(\) return type has no value type specified in iterable type array\.#'