<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="tests/bootstrap.php"
         convertDeprecationsToExceptions="false"
>
    <php>
        <ini name="display_errors" value="1" />
        <ini name="error_reporting" value="-1" />
        <server name="APP_ENV" value="test" force="true" />
        <server name="SHELL_VERBOSITY" value="-1" />
        <server name="SYMFONY_PHPUNIT_REMOVE" value="" />
        <server name="SYMFONY_PHPUNIT_VERSION" value="9.5" />
        <env name="DATABASE_URL" value="mysql://root:@127.0.0.1:3306/todolist"/>
        <env name="APP_DEBUG" value="false"/>
    </php>

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
             <!-- Try to fix sf insight -->
            <directory>tests</directory>
            <directory>./src</directory>
            <directory>src</directory>
            
            <file>./tests/src/Controller/DefaultControllerTest.php</file>
            <file>./tests/src/Controller/LoginControllerTest.php</file>
            <file>./tests/src/Controller/TasksControllerTest.php</file>
            <file>./tests/src/Controller/UserControllerTest.php</file>
            <file>./tests/src/DataFixtures/AppFixturesTest.php</file>
            <file>./tests/src/Entity/UserTest.php</file>

            <file>tests/src/Controller/DefaultControllerTest.php</file>
            <file>tests/src/Controller/LoginControllerTest.php</file>
            <file>tests/src/Controller/TasksControllerTest.php</file>
            <file>tests/src/Controller/UserControllerTest.php</file>
            <file>tests/src/DataFixtures/AppFixturesTest.php</file>
            <file>tests/src/Entity/UserTest.php</file>

            <exclude>./tools/php-cs-fixer/vendor/symfony/service-contracts/Test/ServiceLocatorTest.php</exclude>
            <exclude>/tools/php-cs-fixer/vendor/symfony/service-contracts/Test/ServiceLocatorTest.php</exclude>
            <exclude>tools/php-cs-fixer/vendor/symfony/service-contracts/Test/ServiceLocatorTest.php</exclude>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>

    <filter>
        <whitelist>
            <directory>src/</directory>
            <!-- Try to fix sf insight -->
            <directory>tests/</directory>
            <directory>./tests/</directory>
            <directory>./src/</directory>
        </whitelist>
        <blacklist>
            <directory>vendor/</directory>
        </blacklist>
    </filter>

    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener" />
    </listeners>

    <extensions>
    </extensions>
</phpunit>
